<article data-messageType="{{type}}" data-connection-id="{{connectionId}}" data-source="{{source}}">
	<aside>
		<time>{{timestamp}}</time>
		<span>{{head}}</span>
		{{#if icon}}
			<span class="fa {{icon.cssClass}}"></span>
		{{/if}}
	</aside>
	<p>{{{message}}}</p>
</article>
