<li class="channel" data-connection-id="{{networkId}}" data-source="{{source}}" data-source-type="{{type}}" data-alert="">
	<span class="fa {{icon}}"></span>
	<span title="{{source}}">{{source}}</span>
	<div class="arrow">
		<span></span>
	</div>
</li>
