<article class="consoleMessage" data-messageType="{{type}}" data-connection-id="{{connectionId}}" data-source="{{source}}">
	<aside>
		<time>{{timestamp}}</time>
		<span class="{{icon}}">{{head}}</span>
	</aside>
	<p>{{{message}}}</p>
</article>
