<ul class="message-source-list">
	<li class="server" data-connection-id="{{connectionId}}" data-value="server">
		<span class="fa fa-angle-down"></span>
		<span>{{serverName}}</span>
		<div class="arrow">
			<span></span>
		</div>
	</li>
	{{#with sources}}
	<li class="channel" data-connection-id="{{data.connectionId}}" data-value="{{key}}" data-alert="">
		<span class="fa fa-comments-o"></span>
		<span title="{{key}}">{{key}}</span>
		<div class="arrow">
			<span></span>
		</div>
	</li>
	{{/with}}
</ul>
